.page-container {
    width: 1280px;
    margin-left: auto;
    margin-right: auto;
}
.logo-header {
    width: 334px;
    font-style: normal;
font-weight: 400;
font-size: 80px;
padding-top: 63px;
padding-left: 98px;
color: black;
}

.logo-header-part {color: #4BCAFF;}

.menu-container {
    margin-left: auto;
    margin-right: auto;
    width: 1283px;
}

.menu {
    margin-top: 38px;
margin-bottom: 48px;}

.menu-list {
    display: flex;
    list-style-type: none;
    justify-content: center;
    background-color: #35444F;

}

.menu-item {padding: 26px 33px 19px 33px;
border-right: 1px solid #FFFFFF;
}

.menu-item:first-child {border-left: 1px solid #FFFFFF;}

.item-link {width: 266px;   
    font-style: normal;
font-weight: 400;
font-size: 24px;
line-height: 28px;
color: #FFFFFF;
}

.text-container {display: flex;}

.side-menu-list { list-style-type: none;}

.side-menu {
    width: 344px;
height: 399px;
border: 1px solid #000000;
margin-right: 52px;

}

.side-menu-item {
    padding-left: 44px;
    padding-bottom: 52px;
}

.side-menu-item:first-child {padding-top: 26px;}

.side-item-link {font-weight: 400;
    font-size: 23px;
    line-height: 23px;
    color: #485863;
}

.info {
    width: 885px;

}

.info-image {
    
    padding: 75px 280px;
    border: 1px solid #000000;
    
}

.info-footer-wrapp {
    display: flex;
    justify-content: space-between;
    background: rgba(99, 105, 110, 0.48);
    
}
.footer-menu {display: flex;
    list-style-type: none;
    width: 875px;
    justify-content: space-between;
    margin: 0;
    padding-top: 20px;


}

    .footer-menu-link {
        font-weight: 400;
font-size: 28px;
line-height: 28px;
color: #0C1927;

    }

    .copyright-data {
        font-weight: 400;
font-size: 24px;
line-height: 24px;
color: #010101;
padding-top: auto;
padding-bottom: auto;
padding-right: 30px;
    }